<h3>Ejemplos formulario:</h3>
<form #ejemploForm="ngForm" class="card d-flex flex-column justify-content-center">
    <div class="mx-4 mb-4 mt-4">
        <p-dropdown #cajaselect name="cajaselect" [options]="deportes" [(ngModel)]="opcion" optionLabel="label" [showClear]="true" placeholder="Selecciona un deporte"></p-dropdown>
    </div>
    <div class="mx-4 mb-4">
        <span class="p-float-label">
            <p-autoComplete #cajaauto name="cajaauto" [(ngModel)]="seleccionado" [suggestions]="sugFiltro" (completeMethod)="search($event)"
                inputId="float-label"></p-autoComplete>
            <label for="float-label">Deportes</label>
        </span>
    </div>
    <div class="mx-4 mb-4">
        <p-calendar #cajafecha name="cajafecha" [(ngModel)]="date" placeholder="Fecha"></p-calendar>
    </div>
    <div class="mx-4 mb-4">
        <p-checkbox #cajacheckbox name="cajacheckbox" [(ngModel)]="checkbox" [binary]="true" inputId="binary" label="Checkbox"></p-checkbox>
    </div>
    <div class="mx-4 mb-4">
        <label class="form-label">Selecciona un color:</label><br>
        <p-colorPicker #cajacolor name="cajacolor" [(ngModel)]="colorRGB" format="rgb"></p-colorPicker>
    </div>
    
</form>